<form action="/dashboard/artists/create" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <label for="isband">Is band</label>
    <select name="isBand" id="isband">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <label for="description">Description</label>
    <input type="text" id="description" name="description">
    <label for="picture">Picture</label>
    <input type="text" id="picture" name="picture">
    <button type="submit">Create</button>
</form>