<h1>Dashboard</h1>
<a href="/dashboard/artists">Artists</a>
<a href="/dashboard/artists/create">Create an artist</a>
<a href="/dashboard/labels">Labels</a>
<a href="/dashboard/labels/create">Create a label</a>