<form action="/dashboard/labels/create" method="post" enctype="multipart/form-data">

    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <label for="city">City</label>
    <input type="text" id="city" name="city">
    <label for="country">Country</label>
    <input type="text" id="country" name="country">
    <label for="street">Street</label>
    <input type="text" id="street" name="street">
    <label for="streetNum">Street number</label>
    <input type="text" id="streetNum" name="streetNum">
    <label for="zipcode">Zip code</label>
    <input type="text" id="zipcode" name="zipcode">
    <label for="logo">Logo</label>
    <input type="file" id="logo" name="logo">
    <button type="submit">Create</button>
</form>